---
import "@/styles/globals.css";
import AboutPage from "@/components/about/index.astro";
import { META_TITLE, META_DESCRIPTION } from "data";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{META_TITLE}</title>
    <meta name="description" content="{META_DESCRIPTION}" />
    <ViewTransitions />
  </head>
  <body class="flex flex-col">
    <AboutPage />
  </body>
</html>
