---

---

<div class="flex gap-4 items-center flex-col sm:flex-row pt-8">
  <button
    class="group pr-6 letter-container bg-gradient-to-r from-purple-200 via-fuchsia-100 to-pink-200 w-[250px] sm:w-auto rounded-full border border-solid border-transparent transition-colors flex items-center justify-center gap-2 hover:bg-[#383838] text-base h-12 px-5"
  >
    <span class="text-2xl pr-0.5 flex justify-center items-center">
      <span class="flex items-center text-[18px]">🛠</span>
    </span>
    <span class="pr-2 text-black font-extralight flex">
      {
        "Let's".split("").map((letter, index) => (
          <span
            class="letter inline-block transition-transform"
            style={`--delay: ${index * 0.05}s`}
          >
            {letter}
          </span>
        ))
      }
      <span class="inline-block w-1"></span>
      {
        "work!".split("").map((letter, index) => (
          <span
            class="letter inline-block transition-transform"
            style={`--delay: ${(index + "Let's".length) * 0.05}s`}
          >
            {letter}
          </span>
        ))
      }
    </span>
  </button>
  <a
    href="/about"
    class="w-[250px] sm:w-auto text-zinc-100 font-thin rounded-full border border-solid border-white/[.345] transition-colors flex items-center justify-center hover:bg-[#1a1a1a] hover:border-pink-100/[0.250] hover:text-white text-sm sm:text-base h-12 px-4 sm:px-2 sm:min-w-40"
  >
    Read more
  </a>
</div>

<style>
  @keyframes letterBounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
  }

  .letter-container:hover .letter {
    animation: letterBounce 0.2s forwards;
    animation-delay: var(--delay);
  }
</style>
