---
import { INSTRUCTIONS } from "data";
---

<ul
  class="text-purple-200 pt-4 list-inside text-sm text-left font-courier leading-6 tracking-tight shadows-into-light-regular"
>
  {
    INSTRUCTIONS.map((instruction) => (
      <li class="mb-3 sm:mb-2 flex items-start sm:items-center gap-3">
        <span class="text-[22px] text-yellow-600">{instruction.icon}</span>
        {instruction.text}
      </li>
    ))
  }
</ul>
