---
---

<video
  src="/videos/dark2.mp4"
  loop
  autoplay
  muted
  playsinline
  class="h-[100vh] w-full object-cover opacity-30"
></video>
<div
  class="edges absolute z-20 grid h-full max-h-screen w-full grid-rows-[0px_1fr_20px] items-center justify-items-center gap-16 p-8 pb-20 font-[family-name:var(--font-geist-sans)]"
>
  <main class="row-start-2 flex flex-col items-center gap-5 sm:items-center">
    <slot />
  </main>
</div>
