---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <video
      src="/public/videos/dark2.mp4"
      loop
      autoplay
      muted
      class="opacity-30 object-cover w-full h-full"></video>
    <div
      class="absolute z-20 w-full grid grid-rows-[0px_1fr_20px] h-[100vh] items-center justify-items-center max-h-screen p-8 pb-20 gap-16 font-[family-name:var(--font-geist-sans)]"
    >
      <main
        class="flex flex-col gap-5 row-start-2 items-center sm:items-center"
      >
        <slot />
      </main>
    </div>
  </body>
</html>
